[
  {
    "ParameterKey": "ProjectName",
    "ParameterValue": "ai-dev-env"
  },
  {
    "ParameterKey": "InstanceType",
    "ParameterValue": "t3.medium"
  },
  {
    "ParameterKey": "RootVolumeSize",
    "ParameterValue": "30"
  },
  {
    "ParameterKey": "VpcId",
    "ParameterValue": "vpc-xxxxxxxxxxxxxxxxx"
  },
  {
    "ParameterKey": "SubnetId",
    "ParameterValue": "subnet-xxxxxxxxxxxxxxxxx"
  },
  {
    "ParameterKey": "AllowedCidr",
    "ParameterValue": "YOUR_IP/32"
  },
  {
    "ParameterKey": "KeyPairName",
    "ParameterValue": ""
  },
  {
    "ParameterKey": "CodeServerPassword",
    "ParameterValue": "CHANGE_ME_strong_password"
  },
  {
    "ParameterKey": "AwsRegion",
    "ParameterValue": "ap-northeast-1"
  }
]
